

.section-header {
    font-weight: bold;
    font-size: xx-large;
    padding: 0;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text-container {
    font-size: larger;
    line-height: 200%;
    padding: 5px;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}

.image-container > img {
    max-width: 300px;
    max-height: 300px;
    border: solid grey;
}

.form-container {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

button {
    width: 20%;
}

@media (max-width: 900px) {


.image-container {
    display: none;
}
}


